#login_main {
    height: calc(100vh - 93px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-kb-gray-negative);
}

#egg_c {
    position: absolute;
    top: 93px;
    width: 500px;
    aspect-ratio: 1/1;
    overflow: hidden;
    left: 0;
    #egg {
        position: absolute;
        top: -189px;
        width: 650px;
        aspect-ratio: 1/1;
        left: -137px;
        animation: shake 10s infinite;
    }
}

@keyframes shake {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

#egg_c2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    aspect-ratio: 1/1;
    overflow: hidden;
    #egg2 {
        position: absolute;
        bottom: -190px;
        right: -140px;
        width: 650px;
        aspect-ratio: 1/1;
        animation: shake2 10s infinite;
        transform: scaleX(-1) scaleY(-1);
    }
}

@keyframes shake2 {
    0% {
        transform: rotate(140deg);
    }
    50% {
        transform: rotate(250deg);
    }
    100% {
        transform: rotate(160deg);
    }
}

#login_m {
    width: 600px;
    aspect-ratio: 3/2;
    border-radius: 5px;
    background: rgba(255, 255, 255, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#login_exp {
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
}

/*폼 내의 입력 상자 크기 조절*/
.text-container input {
    outline-color: var(--main-kb-yellow);
    height: 30px; /* 입력 상자의 높이를 조절하세요 */
    width: 400px; /* 입력 상자의 너비를 조절하세요 */
    padding: 5px 10px; /* 내부 패딩을 조절하여 텍스트가 중앙에 위치하도록 함 */
}

/* 폼 내의 희미한 텍스트 스타일 조절 */
.text-container input::placeholder {
    color: #aaa; /* 희미한 텍스트의 색상을 회색으로 조절하세요 */
}

.login-button1[type="submit"] {
    width: 420px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    font-size: 20px; /* 글자 크기 */
    background-color: var(--main-kb-yellow-positive); /* 버튼의 배경색 고정 */
    color: black; /* 버튼의 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 30px; /* 둥근 모서리 설정 */
    cursor: pointer; /* 마우스 오버 시 손가락 모양으로 변경 */
    margin-top: 20px;
    font-weight: bold;
}

.login-button1:hover {
    background: var(--main-kb-yellow);
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

.signup-options {
    margin-top: 20px;
}

#signup_e {
    font-weight: bold;
    color: var(--sub-kb-dark-gray);
}

#signup_a {
    color: var(--sub-kb-gold);
    font-weight: bold;

}

#signup_a:hover {
    text-decoration: underline;
}
