#pointree {
    text-align: center;
    margin-top : 25px;
}

#pointree span{
    font-size : 25px;
}


#myChart {
    height: 400px;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

#info {
    display: none;
    text-align: center;
    margin-top: 100px;
}

#header {
    text-align: center;
    margin-bottom : 35px;
    margin-left : 30px;
}

#header span{
    font-size : 35px;
}

.box1 {
    float : left;
    width : 650px;

}

.box2 {
    display : inline-block;
    margin-left : 100px;

}
