#writings_c {
    display: block;
    width: 850px;
    margin: 0 auto 50px;
}

#sub_menu {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    left: -10px;
}

#sel {
    font-weight: bold;
}

#not_sel {
    color: var(--sub-kb-dark-gray);
}

.b_contents {
    border-bottom: 1px solid var(--sub-kb-dark-gray);
    padding: 10px;
}

.b_type {
    font-size: 16px;
    font-weight: lighter;
    color: var(--sub-kb-dark-gray);
}

.b_title {
    margin: 10px;
    font-weight: bold;
}

.w_d_l {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.w_date {
    margin-right: 20px;
    height: 27px;
}

#likes_cc {
    width: 60px;
}

.likes_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thumb {
    width: 27px;
    aspect-ratio: 1/1;
    display: block;
}

.w_t_d {
    display: flex;
    justify-content: space-between;
}

.w_title {
    font-size: 16px;
}