#sub_article {
    justify-content: flex-start;
}

#sel_sub {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#sel_pic_exp {
    width: 700px;
}

#sel_pic {
    display: block;
    margin: 0 auto;
}

#pic_exp {
    text-align: center;
}

#sub_info_s {
    display: none;
    border: 1px solid var(--sub-kb-dark-gray);
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}

#sub_na_c {
    margin-bottom: 10px;
}

#sub_be_c {
    display: flex;
    margin-bottom: 20px;
}

#bef_exp {
    width: 5px;
    height: 24px;
    background: var(--main-kb-yellow);
    margin-inline: 5px;
}

#sub_name {
    font-weight: bold;
    font-size: 24px;
}

#sub_attr {
    font-weight: lighter;
}

#sub_pp_c {
    display: flex;
    justify-content: space-evenly;
}

#sub_period:before {
    content: "";
    display: inline-block;
    background-image: url("https://ifh.cc/g/NZ68Mz.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

#sub_price:before {
    content: "";
    display: inline-block;
    background-image: url(https://ifh.cc/g/QB44qC.png);
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

#star_section {
    height: 300px;
    display: none;
}

#star_container {
    display: none;
    height: 100%;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #282930;
    border-radius: 5px;
    margin: 0 auto;
}

.star_b {
    width: 100px;
    margin: 10px 5px;
    position: relative;
}

.star {
    border-radius: 100%;
    width: 10px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: blink 2s ease infinite;
}

@keyframes blink {
    0%,
    100% {
        filter: drop-shadow(0px 0px 5px white);
    }
    50% {
        filter: drop-shadow(0px 0px 5px #282930);
    }
}

#reward_btn {
    margin: 20px auto;
    display: none;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
}