
.banner_title {
    margin-bottom: 20px;
}

.banner_container h2 {
    font-weight: bold;
}

.banner_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    color: white;
}

.banner_container div {
    margin-top: 50px;
}

.banner_container img {
    margin-top: 20px;
}


.d-block {
height : 360px;
}

/* 하단 섹션 스타일 */
.bottom-section {
    display: flex;
    justify-content: space-between;
}

.content_title {
    text-align: center;
    margin-block: 30px;
}

/* 각 섹션 스타일 */
.section {
    flex: 1;
    text-align: center;
    padding-inline: 20px;
}

/* 이미지 스타일 */
.section img {
    width : 160px;
    height: 160px;
}

/* 설명 스타일 */
.section p {
    margin-top: 30px;
    font-size: 20px;
}

container {
    margin: 0;
}
