.title {
    text-align: center;
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bolder;
}

.policy_box {
    border: black 1px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    width: 80%;
    margin-block: 25px;
}

/*.policy {*/
/*    border: var(--sub-kb-gold) 1px solid;*/
/*   */
/*}*/


.policy {
    border: 2px solid #ffe7a8;
    border-radius: 5px;

    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 30%;

    --c: #ffe37c; /* the border color */
    --b: 5px; /* the border thickness*/
    --g: 5px; /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0  /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
}

.policy:hover {
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
}

.name {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    height: 20%;
    padding: 10px;
    word-break: keep-all;
    margin-top: 20px;
}

.explain {
    display: inline-flex;
    align-items: center;
    font-size: smaller;
    height: 43%;
    padding-inline: 40px;
    padding-top: 10px;
    word-break: keep-all;
}

.tag {
    color: var(--sub-kb-gold);
    font-size: medium;
    padding: 20px;
}

.link_btn {
    padding-inline: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-kb-yellow-positive);
    background-color: #ffe7a8;
    font-size: medium;
    width: 30%;
    height: 40px;
}


.link_btn > a {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.link_btn:hover {
    background: #ffe37c;
}

main {
    width: 90%;
    margin: 0 auto;
}

#main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;

}

.page-link:hover {
    color: var(--main-kb-yellow-positive);
    text-decoration: underline;
    font-weight: bold;
}

a.page-link {
    color: black;
}

.search_box {
    padding: 10px;
    border: 1px solid var(--sub-kb-silver);
    border-radius: 10px;
    width: 52%;
    margin-top: 30px;
}

.search_small_box {
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

.search_box_title {
    width: 13%;
    border-right: 3px solid var(--sub-kb-dark-gray);
    margin-right: 5px;
    font-size: medium;
    color: black;
}

.search_box_option {
    width: 65%;
    margin-left: 15px;
    height: 35px;
    display: flex;
    align-items: center;
}

ul.ks-cboxtags {
    list-style: none;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-flex;
    align-items: center;
    height: 37px;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #d3d3d3;
    color: var(--sub-kb-dark-gray);
    font-size: medium;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 2px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 12px 2px;
    /*content: "\2796";*/
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    /*content: "\2795";*/
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid var(--main-kb-yellow);
    background-color: var(--main-kb-yellow-positive);
    color: black;
    transition: all .2s;
}

/*ul.ks-cboxtags li input[type="checkbox"] {*/
/*    !*display: absolute;*!*/
/*}*/

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid var(--main-kb-yellow);
}

.location_select_box {
    color: var(--sub-kb-dark-gray);
    border-radius: 10px;
    border: 1px solid var(--sub-kb-silver);
    padding: 5px;
    font-size: medium;
}

.search_btn {
    font-size: 16px;
    margin-right: 7px;
}

.search_input {
    border-radius: 10px;
    border: 1px solid var(--sub-kb-silver);
    font-size: medium;
    height: 35px;
}

.submit_btn {
    height: 35px;
    width: 15%;
    padding-inline: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-kb-yellow-positive);
    background-color: #ffe7a8;
    font-size: medium;
}

.submit_btn:hover {
    background: #ffe37c;
}

