/* 밑줄 없애고 호버 스타일 */
.navbar a:hover {
    background-color: #ddd;
    color: var(--main-kb-yellow);
}

.page-link {
    margin-right: 10px;
}

nav li {
    margin-inline: 0;
}


li.page-item {
    margin:0;
}

a.page-link {
    margin:0;
}

.page-item:not(:first-child) .page-link {
margin:0px;
}

nav#btm_pagi {
    display: flex;
    justify-content: center;
}
nav#btm_pagi2{
    display: flex;
    justify-content: center;
}


/* 새로운 스타일 */
main {
    width: 90%;
    margin: 0 auto;
}

.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content {
    position: absolute;
    top: 170px;
    width: 62%;
}

#popular.menu-content {
    position: absolute;
    top: 170px;
    width: 62%;
}

.board_items {
    top: 170px;
    margin-top: 20px;
    width: 62%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
    grid-template-rows: repeat(2, 1fr); /* 2행으로 설정 */
    gap: 40px; /* 아이템 간격 설정 */
}

.item_box {
    border-radius: 10px;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
}

.item_img {
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.img_detail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item_tag {
    position: absolute;
    border: solid 1.5px var(--main-kb-yellow);
    border-radius: 30px;
    background-color: var(--main-kb-gray-negative);
    color: white;
    top: 105px;
    left: 230px;
    width: 80px;
    text-align: center;
    padding: 3.2px;
    box-shadow: 1px 1px 3px 1px dimgrey;
}

.item_tag_text {
    font-size: 14px;
    font-weight: 480;
}

.item_title {
    height: 18%;
    font-weight: 650;
    overflow: hidden;
    padding: 22px 8px 8px;
}

.item_content {
    height: 25%;
    overflow: hidden;
    padding: 2px 8px 8px;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 15px;
    color: var(--sub-kb-dark-gray);
}

.item_footer {
    height: inherit;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.item_id_date {
    display: flex;
}

.item_icon {
    padding-top: 15px;
}

.icon_id {
    font-size: 15px;
    margin-left: 5px;
}

.item_user_icon {
    margin-top: 3px;
}

.icon_text {
    font-size: 13px;
}

.icon_text_date {
    font-size: 10px;
    margin-left: 5px;
}

.fa-calendar-alt {
    font-size: 10px;
    width: 15px;
    color: var(--sub-kb-dark-gray);
}

.fa-thumbs-up {
    font-size: 13px;
    color: var(--sub-kb-dark-gray);
}

.fa-comment {
    font-size: 13px;
    color: var(--sub-kb-dark-gray);
}

.fa-user-circle {
    color: var(--sub-kb-dark-gray);
    width: 30px;
    font-size: 27px;
}

.item {
    cursor: pointer;
    text-decoration: none;
}

.grow {
    display: inline-block;
    transition-duration: .3s;
    transition-property: transform;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateZ(0);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
}

.grow:hover {
    transform: scale(1.025);
}

.board_nav {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: 590;
}

.board_nav_type {

}

.board_nav_btn {
    margin-top: 20px;
}

.board_nav_btn > button{
    border: 1.3px solid var(--sub-kb-dark-gray);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    font-weight: 590;
}

.board_nav_type_list {
    list-style: none;
}

.board_nav_type_list > li{
    float: left;
    margin: 20px;
    display: flex;
    height: 30px;
}

a:hover {
    color: black;
}

#nav_btn:hover{
    background-color: var(--main-kb-yellow);
    color: var(--sub-kb-dark-gray);
    font-weight: 700;
    border: 2px solid var(--sub-kb-dark-gray);
}

.sidebar_menu {
    background-repeat: no-repeat;
    background-size: 0%;
    transition: background-size 0.5s;
    background-image: linear-gradient(transparent 55%, var(--main-kb-yellow) 45%);
}

ul:hover #selected {
    background-size: 0%;
}

.sidebar_menu:hover {
    background-size: 100% 100%;
}
