
.banner_title {
    margin-bottom: 20px;
}

.banner_container h2 {
    font-weight: bold;
}

.banner_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    color: white;
}

.banner_container div {
    margin-top: 50px;
}

.banner_container img {
    margin-top: 20px;
}


.d-block {
    height : 360px;
}

.board-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top : 30px;
}

.board {
    display: inline-block;
    width: 25%;
    margin: 20px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    border : none;
}

.board-header {
    display: flex;
    align-items: center;
    margin-bottom : 25px;
    border-bottom: 1px solid #ccc; /* 회색 선 추가 */
    padding-bottom: 10px; /* 아래 여백 추가 */
    margin-bottom: 20px; /* 아래 여백 추가 */
}

.board-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.board-header h2 {
    flex-grow: 1;
    margin: 0;
    font-size : 25px;
    font-weight : bold;
}

.board-header a {
    text-decoration: none;

}

.board-detail {
    font-size: 16px;
    color : gray;
    margin-top : 16px;
}

.board-list p {
    text-align: right;
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 8px;
    margin-left : 10px;
    margin-right : 10px;
}

.board-list div{
    font-size: 16px;
    font-weight: lighter;
    color: var(--sub-kb-dark-gray);
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    padding : 1px;
    display: inline-block;
    width: 70px; /* 원하는 간격으로 조절 */
    text-align: center; /* 오른쪽 정렬 */
    margin-right: 6px; /* 간격 조절 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.board-list div.right-align {
    display: flex;
    float: right;
    border : none;
    color: gray;
    justify-content: space-between;
    width : 50px;
}

.board-list div.detailType {
    color: gray;
}

.like-icon {
    width: 27px; /* 이미지 너비 조절 */
    height: auto; /* 이미지 높이 자동 조절 */
}
