 #navbar {
     position: fixed;
     top: 0;
     left: 0;   /* 화면의 왼쪽에서 시작합니다. */
     width: 100%;  /* 전체 너비를 차지하게 합니다. */
     z-index: 1000;  /* 다른 요소 위에 올려놓습니다. */
     background: #FFF; /* 배경색을 흰색으로 설정 (필요에 따라 수정) */
 }

 .title-buttons {
     position: absolute;  /* absolute positioning을 사용하여 오른쪽 아래에 버튼을 배치합니다. */
     right: 0;
     bottom: 10px;
 }

 #editBtn, #deleteBtn {
     padding: 5px 10px;
     margin-left: 5px; /* 간격 조정 */
     cursor: pointer;
     background-color: #FFCC00;
     color: black;
     border: 1px solid black;
     border-radius: 10px;  /* 모서리를 둥글게 만들기 위한 설정 */
 }

 .container {
      width: 1000px;
      padding: 20px;
      border: 1px solid #ccc;
      margin: auto;
      margin-top: 140px;
      height: 800px; /* 원하는 높이로 조절 가능 */
      display: flex;
      flex-direction: column;
 }

.title, .content, .comments-list {
    flex-grow: 1;  /* 이 속성은 각 섹션에게 남는 공간을 동일하게 분배하라는 지시입니다. */
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.title {
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      position: relative; /* relative positioning을 설정해야 child element에 absolute를 적용할 수 있습니다. */

}

.title-text {
    font-size: 32px;
    position: relative;
    top: -10px;
}

.regdate {
    font-size: 20px;
    margin-right: 10px;
}

.likes {
    font-size: 20px;
}

.content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;  /* 내용과 좋아요 사이에 최대한의 공간을 확보합니다. */
      height: 800px;
}

.comment {
      padding: 10px;
      display: flex;
      flex-direction: column;
      height: 200px;
}

.comment-input {
    width: 980px;
    height: 250px;
    position: relative;  /* 이 스타일은 내부 요소의 위치를 조정하기 위해 추가되었습니다. */
    border-bottom: 1px solid #ccc;  /* 각 댓글 사이에 구분선을 추가합니다. */
    margin-bottom: 10px;  /* 각 댓글 사이에 간격을 추가합니다. */
}

#commentText {
    width: 100%;    /* 부모 요소의 전체 너비를 사용합니다. */
    height: 100px;  /* 버튼의 높이를 고려하여 높이를 설정합니다. */
    resize: none;   /* 사용자가 textarea 크기를 변경하지 못하게 합니다. */
    box-sizing: border-box;  /* 테두리와 패딩이 전체 높이와 너비에 포함되도록 합니다. */
    padding: 10px;
    margin-bottom: 10px;  /* 버튼과의 간격을 위해 추가 */
}

#submitComment {
    position: absolute;  /* 댓글 입력창의 오른쪽 하단에 버튼을 배치합니다. */
    right: 0;
    bottom: 100px;
    height: 40px;
    width: 80px;
    border-radius: 10px;  /* 모서리를 둥글게 만들기 위한 설정 */
    background-color: #FFCC00;
}

.likes-comments {
      padding: 10px;
      border-bottom: 1px solid #ccc;
}

.like-section {
      margin-top: 150px;  /* 여기서 간격을 조절할 수 있습니다. 원하는 간격으로 값을 변경하세요. */
}

.comments-list {
      margin-top: 0px;
      padding-top: 0px;
      padding-left: 10px;
      font-size: 1.5em;
      border-bottom: 1px solid #ccc;
      width: 100%;  /* 제목의 너비를 전체 섹션의 너비와 같게 조절 */
      box-sizing: border-box;  /* 패딩과 테두리를 포함한 전체 너비가 width 값과 동일하도록 설정 */
      height: 800px;
}


