#navbar {
    position: fixed;
    top: 0;
    left: 0;   /* 화면의 왼쪽에서 시작합니다. */
    width: 100%;  /* 전체 너비를 차지하게 합니다. */
    z-index: 1000;  /* 다른 요소 위에 올려놓습니다. */
    background: #FFF; /* 배경색을 흰색으로 설정 (필요에 따라 수정) */
}

.title {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    position: relative; /* relative positioning을 설정해야 child element에 absolute를 적용할 수 있습니다. */
    padding: 10px;
}

.container {
    position: relative; /* 추가 */
    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-inline: auto;
    margin-top: 140px;
    margin-bottom: 50px;
    height: 800px; /* 원하는 높이로 조절 가능 */
    display: flex;
    flex-direction: column;
}

.buttonStyle{
    border: 1.3px solid var(--sub-kb-dark-gray);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    font-weight: 590;
    float:right;
}

.buttonStyle:hover{
    background-color: var(--main-kb-yellow);
    color: var(--sub-kb-dark-gray);
    font-weight: 700;
    border: 2px solid var(--sub-kb-dark-gray);
    cursor: pointer;
}

.titleStyle {
    border: none; !important;
    font-size: 32px;
    position: relative;
    outline-color: var(--main-kb-yellow);
}

.contentStyle{
    /*border: none; !important;*/
    border: none;
    font-size: 20px;
    position: relative;
    height: 550px;
    width: 92%;
    resize: none;
    margin: 20px;
    padding: 20px;
    outline-color: var(--main-kb-yellow);
    border-bottom: 1px solid black; /* 구분선 생성 */
}

.image-input {
    padding-inline: 20px;
}

#update_input {
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
}