#navbar {
    position: fixed;
    top: 0;
    left: 0;   /* 화면의 왼쪽에서 시작합니다. */
    width: 100%;  /* 전체 너비를 차지하게 합니다. */
    z-index: 1000;  /* 다른 요소 위에 올려놓습니다. */
    background: #FFF; /* 배경색을 흰색으로 설정 (필요에 따라 수정) */
}

.title {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    position: relative; /* relative positioning을 설정해야 child element에 absolute를 적용할 수 있습니다. */
    padding: 10px;
}

.container {
    position: relative; /* 추가 */
    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-inline: auto;
    margin-top: 140px;
    margin-bottom: 50px;
    /*height: 800px; !* 원하는 높이로 조절 가능 *!*/
    display: flex;
    flex-direction: column;
}

.buttonStyle{
    border: 1.3px solid var(--sub-kb-dark-gray);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    height: 40px;
    font-weight: 590;
    float:right;
}

.buttonStyle:hover{
    background-color: var(--main-kb-yellow);
    color: var(--sub-kb-dark-gray);
    font-weight: 700;
    border: 2px solid var(--sub-kb-dark-gray);
    cursor: pointer;
}

.titleStyle {
    border: none; !important;
    font-size: 32px;
    position: relative;
    outline-color: var(--main-kb-yellow);
    padding-inline: 10px;
    padding-block: 3px;
}

.regdate {
    margin-left: 10px;
}

.content img {
    margin-left: 20px;
}

.contentStyle{
    border: none;
    font-size: 20px;
    position: relative;
    height: 550px;
    width: 92%;
    resize: none;
    margin: 20px;
    padding: 20px;
    outline-color: var(--main-kb-yellow);
    border-bottom: 1px solid black;
}

.image-input {
    padding-inline: 20px;
}

#update_input {
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
}


.title, .content, .comments-list {
    flex-grow: 1;  /* 이 속성은 각 섹션에게 남는 공간을 동일하게 분배하라는 지시입니다. */
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.title {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    position: relative; /* relative positioning을 설정해야 child element에 absolute를 적용할 수 있습니다. */

}

.title-text {
    font-size: 32px;
    position: relative;
    top: -10px;
}

.author-id {

}

.regdate {
    font-size: 20px;
    margin-right: 10px;
}

.likes {
    font-size: 20px;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* 내용과 좋아요 사이에 최대한의 공간을 확보합니다. */
}

.comment1 {
    padding: 12px;
    margin-top: 10px;
}

.comment {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    /*height: 200px;*/
}

.currentUser {
    font-size: 14px; /
color: blue;
    transform: translateY(20px);
}

.comment-content {
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(20px);
}

.comment-input {
    width: 980px;
    /*height: 250px;*/
    position: relative;
    /*margin-top: 20px;*/
    margin-bottom: 10px;
}

.comment-item {
    border-bottom: 1px solid #ccc;  /* 이 줄을 추가 */
    padding: 10px 0; /* 위아래 패딩을 추가해서 선과 내용 사이의 간격을 조절 */
}


#commentText {
    width: 100%;    /* 부모 요소의 전체 너비를 사용합니다. */
    height: 100px;  /* 버튼의 높이를 고려하여 높이를 설정합니다. */
    resize: none;   /* 사용자가 textarea 크기를 변경하지 못하게 합니다. */
    box-sizing: border-box;  /* 테두리와 패딩이 전체 높이와 너비에 포함되도록 합니다. */
    padding: 10px;
    margin-bottom: 10px;  /* 버튼과의 간격을 위해 추가 */
    outline-color: var(--main-kb-yellow);
}

#submitComment {
    position: absolute;  /* 댓글 입력창의 오른쪽 하단에 버튼을 배치합니다. */
    right: 20px;
    bottom: 45px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;  /* 모서리를 둥글게 만들기 위한 설정 */
    cursor: pointer;  /* 마우스 커서를 포인터로 변경 */
    transition: background-color 0.3s ease;  /* 배경색이 부드럽게 변경되도록 트랜지션을 추가 */

    border: 1.3px solid var(--sub-kb-dark-gray);
    background-color: white;
    text-align: center;
    width: 100px;
    font-weight: 590
}

#submitComment:hover {
    background-color: #FFCC00;
}

.likes-comments {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.like-section {
    margin-top: 150px;
    text-align: center;
    display: flex;
    justify-content: flex-start; /* 왼쪽으로 정렬 */
}

.likes-count {
    font-size: 15px;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 5px;
}

#like-icon:hover {
    cursor: pointer; /* 마우스를 올렸을 때 커서 모양을 포인터로 변경 */
}

.separator {
    border: none;
    border-left: 2px solid #dfdfdf;
    height: 20px;
    width: 1px;
    margin-left: 8px;
    margin-right: 5px;
}
.something {
    display:flex;
    align-items:center;
}

.regdate, .likes {
    color: #888; /* 이 값은 RGB로 표현된 색상입니다. 이 값을 변경하여 다른 색상을 선택할 수 있습니다. */
    font-weight: lighter; /* 'lighter'는 부모 요소보다 더 얇은 폰트 굵기를 설정합니다. */
}