#navbar {
    position: fixed;
    top: 0;
    left: 0;   /* 화면의 왼쪽에서 시작합니다. */
    width: 100%;  /* 전체 너비를 차지하게 합니다. */
    z-index: 1000;  /* 다른 요소 위에 올려놓습니다. */
    background: #FFF; /* 배경색을 흰색으로 설정 (필요에 따라 수정) */
}

.title {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    position: relative; /* relative positioning을 설정해야 child element에 absolute를 적용할 수 있습니다. */

}

.container {

    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: auto;
    margin-top: 140px;
    height: 800px; /* 원하는 높이로 조절 가능 */
    display: flex;
    flex-direction: column;
}


.titleStyle {
    border: none; !important;
    font-size: 32px;
    position: relative;
}
.contentStyle{

    border: none; !important;
    font-size: 20px;
    position: relative;
    height: 600px;
    width: 1000px;
    resize: none;
}
.update-button{

    position: absolute;  /* 댓글 입력창의 오른쪽 하단에 버튼을 배치합니다. */
    right: 0;
    bottom: 100px;
    height: 40px;
    width: 80px;
    border-radius: 10px;  /* 모서리를 둥글게 만들기 위한 설정 */
    background-color: #FFCC00;

}