/* 색상 */
:root {
    --main-kb-yellow: #FFBC00;
    --main-kb-gray-negative: #60584C;
    --main-kb-yellow-positive: #FFCC00;
    --sub-kb-dark-gray: #545045;
    --sub-kb-gold: #8D744A;
    --sub-kb-silver: #84888B;
}

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

* {
 font-family: 'Hahmlet', 'Noto Sans KR', sans-serif;
 font-size: 18px;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body margin 수정 */
body {
    margin: 0;
}

/* ul style 수정 */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* a style 수정 */
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}