nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    align-items: center;
}

.footer_logo {
    font-size: small;
    margin-left: 30px;
    padding-inline: 30px;
    padding-block: 20px;
    font-family: 'Hahmlet';
}

.footer_logo > div {
    font-size: xx-small;
    color: #84888B;
}

#footer_img_1 {
    height: 40px;
    margin-right: 25px
}

