header {
    padding-block: 10px;
    border-bottom: 2px solid var(--main-kb-yellow);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
    margin-inline: 40px;
    margin-right: 20px;
}

nav li {
    display: inline;
    margin-inline: 20px;
}

nav li a {
    font-weight: bold;
}
nav li a:hover {
    color: var(--main-kb-yellow);
}

.login-button {
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid var(--sub-kb-dark-gray);
    border-radius: 4px;
    margin-right: 30px;
    font-weight: bold;
}

.login-button a:hover {
    color: var(--main-kb-yellow);
}
